
body{
    background-color: #ECEBE4;
    font-family: 'Open Sans', sans-serif;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
  
a:hover { color:#419D78;
}
a {text-decoration: none;
color:#397AF2;} 



#menu {float: right;
}
#menu li {
    display: inline-block;
}
#menu li a {
    
    text-decoration: none;
    color: #4e4e4e;
    padding: 8px;
    font-size: 18px;
    
}
#menu li :hover {color:#D85620; }
header {
    padding: 10px 20px 20px 20px;
    
    
}


.hero {
    
   background-image: url(images/light_banner.jpg);

   padding: 52px 50px 100px 72px;
   margin-top: 80px;
   margin-bottom: 1%;
   background-size: cover;
   
    
}
.hero h1 {
    
    color: #FDD57E;
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 0,auto;
    text-align: left;

}


h1 {
    
    color: #4e4e4e;
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 20px;
    text-align: left;
}
ul {text-align: left;
    text-decoration: none;
    
    

}
li {
    
    display: block;
    text-decoration: none;
    color: #419D78;
    padding: 8px;
    font-size:16px;
}
p {
    
    color: #4e4e4e;
    font-size: 16px;
   
}


header {
    padding: 10px 20px 20px 20px;
    
}
