@import url("https://fonts.googleapis.com/css?family=Asap");
/*@import url('https://fonts.googleapis.com/css?family=Pacifico');*/

body {
    margin: 0;
    overflow: hidden;
}

button {
/*    font-family: "helvetica", sans-serif;*/
    font-family: 'asap', cursive;
    font-size: 16px;
    /* Green */
    background-color: #4caf50;
/*    border: pink;*/
    border-radius: 4px;
    margin: 9px 50px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

#my-button {
    color:#F7F7FF;
/*      margin-top: 20px;*/
}

.interface {
    color:#F7F7FF;
  
}

div {
    font-size: 1.5em;
    font-family: monospace;
    margin-left: 30px;
    
    
/*    text-align: center*/
}

input[type="range"] {
    zoom: 2;
    margin-left: 3em;
}
