body {
  font-family: Helvetica;
  margin: 0;
/*  overflow:hidden;*/
  padding: 0;
  background-color: aliceblue;
  color: green;
}

button {
    font-family: "roboto", sans-serif;
    font-size: 2em;
    background-color: burlywood;
    border-collapse: yellow;
    margin: 0.25em;
    
}